<div class="sidenav" id="sidenav">
    <div class="sidenav-header">
        <h1>Nex Gen</h1>
    </div>
    <ul class="sidenav-menu">
        <li class="sidenav-item">
            <a routerLink="/dashboard" class="sidenav-link"><i class="fas fa-th"></i> Dashboard</a>
        </li>
        <li class="sidenav-item">
            <a href="#" class="sidenav-link"><i class="fas fa-calendar-day"></i> Events</a>
        </li>
        <li class="sidenav-item">
            <a href="#" class="sidenav-link"><i class="fas fa-comment-alt"></i> Messages</a>
        </li>
        <li class="sidenav-item">
            <a href="#" class="sidenav-link"><i class="fas fa-user-circle"></i> Profile</a>
        </li>
    </ul>
    <div class="logout">
        <a href="#" class="sidenav-link"><i class="fas fa-arrow-right"></i> Logout</a>

    </div>
    
</div>
